<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Offerdate</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <nav class="navbar navbar-default navbar-fixed-top navbar-expand-sm justify-content-between">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="", alt="Offerdate">
          </a>
        </div>
        <div class="navbar-collapse">
          <div class="nav navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Buy</a>
            <a class="nav-item nav-link" href="/">Sell</a>
            <a class="nav-item nav-link" href="/">Listings</a>
          </div>
          <form class="form-inline">
            <a class="btn btn-secondary mr-sm-2" href=<%=session_path(@conn, :new)%> >Login</a>
            <a class="btn btn-primary" href=<%=user_path(@conn, :new)%> >Signup</a>
          </form>
        </div>
      </nav> 
        
      <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
